* {
    box-sizing: border-box;
}

:root {
    --font-heading: Sen, sans-serif;
    --main-color: #ffb900;
    --line-clamp: 1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    /* font-family: "Sen", sans-serif; */
}

/* Commom */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    --webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line2 {
    --line-clamp: 2;
}

.btn {
    display: inline-block;
    min-width: 118px;
    font-weight: 600;
    padding: 0 16px;
    line-height: 50px;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    font-weight: 700;
    /* or 117% */
    font-family: var(--font-heading);
    letter-spacing: -0.02em;

    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

/* Header */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav ul a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #5f5b53;
    position: relative;
    padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    content: "";
    display: block;
    position: absolute;
    top: 31px;
    left: 22px;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .sign-up {
    width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* Hero */
.hero {
    padding: 56px;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}
/* hero left */
.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    width: 270px;
    padding: 24px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff9e8;
    margin-right: 16px;
}

.hero-summary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    /* identical to box height, or 186% */

    color: #5f5b53;
}

.hero-summary .tittle {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    /* identical to box height, or 167% */

    color: #171100;
}

/* Hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.content-block .desc {
    font-weight: 400;
    font-size: 1.8;
    line-height: 1.67;
    /* or 167% */
    margin: 22px 0;
    color: #5f5b53;
}

.cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.hero-cta {
    min-width: 180px;
    background-color: var(--main-color);
}

.hero .watch-video {
    border: none;
    cursor: pointer;
    margin-left: 28px;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.hero .watch-video .icon {
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
}

.hero .watch-video span {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    /* identical to box height, or 167% */
    color: #171100;
}

.content-block .desc strong {
    font-weight: 700;
    padding: 0 8px 0 28px;
    font-size: 4.4rem;
    line-height: 1.23;
    /* identical to box height, or 123% */
    font-family: var(--font-heading);
    color: #171100;
}

.content-block .aaa {
    margin-left: -28px;
}

/* Popular */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    margin-top: 16px;
    max-width: 458px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    /* or 167% */
    color: #5f5b53;
}

.controls {
    display: flex;
    gap: 18px;
}

.control-btn {
    border: 1px solid var(--main-color);
    background-color: transparent;
    color: var(--main-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-btn:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
}

.popular .pop-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.course-item {
    flex: 1;
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid #e2dfda;
}

.course-item:hover {
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    border: 1px solid transparent;
}

.course-item .thumb {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    margin-bottom: 16px;
    height: 278px;
    object-fit: cover;
}

.pop-list .info {
    margin: 0 22px 22px 22px;
}

.pop-list .info .foot,
.pop-list .info .head,
.pop-list .info .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pop-list .info .tittle {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    margin-bottom: 6px;
}

.pop-list .info .head .value {
    margin-left: 6px;
    color: var(--main-color);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    /* identical to box height, or 175% */
}

.pop-list .info .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    /* or 186% */

    color: #5f5b53;
}

.pop-list .info .foot {
    margin-top: 12px;
}

.pop-list .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    /* identical to box height, or 167% */

    color: #171100;
}

.book-btn {
    border: none;
}

.book-btn:hover {
    background-color: var(--main-color);
    color: white;
}

/* Feedback */
.feedback {
    margin-top: 125px;
    background-color: #2e2100;
    height: 380px;
    padding: 96px 0;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .content {
}

.feedback-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

.feedback-item .ava {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .title {
    margin-top: 18px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    /* identical to box height, or 142% */
    font-family: var(--font-heading);
    color: #f7f7f7;
}

.feedback-item .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    /* identical to box height, or 186% */

    color: #bfbcb3;
}

.feedback-item .dots {
    margin-top: 28px;
    display: flex;
}

.dots .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    margin-right: 6px;
    cursor: pointer;
}

.dots .dot.active {
    background-color: var(--main-color);
    cursor: default;
}

.content-feed {
    width: 66%;
    margin-left: auto;
}

.content-feed blockquote {
    margin-left: 30px;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    /* or 154% */

    color: #ffffff;
}
/* Feature */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features .images {
    display: flex;
    gap: 30px;
}

.features .images img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features .images .lower {
    margin-top: 34px;
}
.features .content-features {
    width: 41%;
}

.content-features .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    /* or 175% */
    margin-top: 16px;
    color: #5f5b53;
}

.content-features .btn {
    background-color: var(--main-color);
    color: white;
    width: 137px;
    margin-top: 32px;
}

.feature2nd {
    margin-top: 70px;
}

.feature2nd .body {
    flex-direction: row-reverse;
}

.feature2nd .content-features {
    width: 48.8%;
}

.feature2nd .images img {
    width: 470px;
    height: 440px;
    object-fit: cover;
}

/* Blog */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    /* or 175% */
    text-align: center;
    color: #696262;
    width: 448px;
    margin: 16px auto 0;
}

.blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.blog-list .item {
    flex-shrink: 0;
    width: calc(33.333% - 20px);
    background: #ffffff;
    border-radius: 16px;
}

.blog-list .item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog-list .item .info {
    padding: 20px 20px 28px;
}

.blog-list .item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.blog-list .date {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
    position: relative;
    padding-bottom: 10px;
}

.blog-list .date::before {
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--main-color);
    margin-right: 4px;
}

.blog-list .date::after {
    content: "";
    right: -27px;
    height: 1px;
    display: inline-block;
    background-color: #e2dfda;
    position: absolute;
    left: 0;
    bottom: 0;
}

.blog-list .title a {
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    /* or 175% */
    display: inline-block;
    color: #171100;
    margin-bottom: 12px;
}

.blog-list .item .btn:hover {
    background-color: var(--main-color);
    color: white;
}

.blog-list .item .btn {
    font-size: 1.4rem;
}

.blog .dots {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 36px;
}

.blog .dots .dot {
    width: 6px;
    cursor: pointer;
    height: 6px;
    background: #5f5b53;
    border-radius: 50%;
}

.blog .dots .dot.active {
    background-color: var(--main-color);
    cursor: default;
}

/* Footer */
.footer {
    background: #2e2100;
    padding: 96px 135px 0;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .desc {
    margin-top: 18px;
    max-width: 267px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .row .col {
    width: 21.6%;
}

.footer .row .col:first-child {
    width: 35%;
}

.footer .social {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.footer .title {
    display: inline-block;
    padding: 0 48px 14px 0;
    border-bottom: 1px solid #59554b;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.footer .list {
    margin-top: 28px;
}

.footer .list a {
    display: inline-block;
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .list li:last-child a {
    margin-bottom: 0;
}

.footer .list strong {
    font-weight: 600;
    color: #ffffff;
}

.footer .copyright p {
    display: block;
    padding: 28px 0;
    text-align: center;
    font-weight: 400;
    font-size: 1.4;
    line-height: 1.86;
    text-align: center;
    color: #807d74;
}
